.navbar {
    height: 60px;
    background-color: #0f1111;   
}

a {
    text-decoration: none;
    color: white;
    margin-right: 200px;
}

#logo {

    color: #f08804;
    font-size: 25px;
}

#searchbutton {
    background-color: #f08804;
    color: white;
}